# Gmail Configuration
GMAIL_ADDRESS=your_gmail@gmail.com
GMAIL_PASSWORD=your_app_password

# Recipient Email
RECIPIENT_EMAIL=liuchujun137@icloud.com

# Stock symbols to analyze
STOCK_SYMBOLS=^GSPC,^IXIC,^DJI

# Analysis settings
ANALYSIS_PERIOD=1y
TIME_ZONE=Asia/Shanghai
